.paragraph {
  display: flex;
  font-size: 60px;
  line-height: 1;
  padding: 10px;
  max-width: 1280px;
  color: black;
  flex-wrap: wrap;
  .word {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    .shadow {
      position: absolute;
      opacity: 20%;
    }
  }
}
