.container {
  display: flex;
  align-items: right;
  flex-direction: column;
  gap: 20vw;
  margin-top: 100px;
  margin-bottom: 100px;
}

.body {
  font-size: 4vw;
  text-align: center;
}

.lineMask {
  overflow: hidden;
}

.lineMask p {
  margin: 0px;
  font-weight: 700;
}
